<p>This is Weatherdiff, a place where you can check out weather history and compare different places.</p>
<p>This is yet a <span class="ui-priority-primary">demo</span> site. Only a <span class="tooltip-hint" id="location_list">number of locations</span> is available.</p>

<% remote_form_for(@report, :url => report_path) do |f| -%>
  <div class="search-form-table">
    <div class="search-form-cell">
      <div class="search-form-content">
        Compare <%= text_field_tag 'report[locations][]', nil, :class => 'ui-widget ui-corner-all search-form' %>
        with <%= text_field_tag 'report[locations][]', nil, :class => 'ui-widget ui-corner-all search-form' %>
      </div>
    </div>
    <div class="search-form-cell">
      <div id="loading" class="search-form-content" style="display: none;">
        &nbsp;&nbsp;<img src="/images/ajax-loader.gif"/>
      </div>
    </div>
  </div>
<% end -%>
<br/>

<%= render :partial => "shared/error_box" %>

<div id="sensor_sel_tabs"></div>

<script type="text/javascript">
  var location_list = '<%= @locations.map {|l| l.name =~ /([^,]+)(?:, (.+))?$/; $2 ? "#{$1} (#{$2})" : $1}.join(', ') %>';

  function proceedToFlot() {
    var ready_to_go = true;
    $('input.ui-widget').each(function () {
      if (!$(this).val()) {
        ready_to_go = false;
      }
    });
    if (ready_to_go)  {
      $('#loading').show();
      //workaround to http://stackoverflow.com/questions/645555/should-jquerys-form-submit-not-trigger-onsubmit-within-the-form-tag
      $('form.new_report').get(0).onsubmit();
    }
  }

  $(function () {
    $('input.ui-widget')
      .autocomplete(<%= "'#{locations_path}'" %>)
      .result(function () { proceedToFlot() })
      .keypress(function (e) {
        if (e.keyCode == 13)  {
          proceedToFlot();
        }
      });

    $('#location_list').hover(
      function (e)  {
        showTooltip(e.pageX, e.pageY, '<div style="width:500px">'+location_list+'</div>');
      },
      function ()  {
        removeTooltip();
      }
    );
  });
</script>
