<tr class="<%= cycle :odd, :even %>">
  <%
    data = {}
    ss.samples.each do |s|
      data['briefly'] = s.value if s.name == 'briefly'
      data['Max Temp'] = s.value if s.name == 'Max Temp'
      data['Min Temp'] = s.value if s.name == 'Min Temp'
    end
  -%>
  <td><%= ss.rss_ts %></td>
	<td><%=h data['briefly'] %></td>
	<td><%=h data['Max Temp'] %></td>
	<td><%=h data['Min Temp'] %></td>
</tr>
