<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Weatherdiff</title>
  <%= stylesheet_link_tag 'themes/jquery-ui-1.7.2.custom', 'pretty', 'jquery.autocomplete' %>
  <!--[if IE]><script language="javascript" type="text/javascript" src="/javascripts/excanvas.compiled.js"></script><![endif]-->
  <%= javascript_include_tag %w{
      http://code.jquery.com/jquery-1.4.js
      jquery.json-2.2.min
      jquery-ui-1.7.2.custom.min
      jrails jquery.ajaxQueue
      jquery.bgiframe.min
      jquery.autocomplete.pack
      jquery.flot
      jquery.flot.navigate.min
      tooltip
    }
  %>
</head>
<body>
  <div id="wrapper">
    <div id="header">
      <div id="logo">
        <% link_to :root do -%>
          <img style="border:0px" src="/images/logo.png"></img>
        <% end -%>
      </div>
    </div>
    <div id="content" class="site ui-corner-all">
      <p style="color: green"><%= flash[:notice] %></p>
      <p style="color: red"><%= flash[:error] %></p>
      <%= yield  %>
    </div>
    <div id="footer"></div>
  </div>
</body>
</html>
